@import 'main.css';

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    padding: 0;
    width: 90vw;
}

.card {
    width: 30%;
    height: 520px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img {
    width: 450px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 1rem;
}

.card-text {
    padding: 1rem;
}

.card-category {
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: var(--primary-100);
    border-radius: 20px;
    font-size: 9px;
    font-weight: 700;
    color: var(--gray-100);
    margin-left: 30px;

}

.card-heading {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--gray-900);
    margin: 0.7rem 0;
    margin-left: 30px;
    width: 80%;
    text-align: align-start;
}

.card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    margin-top: 20px;
}

.card-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    color: var(--gray-600);
    font-size: 0.8rem;
}

.card-author-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.card-btn {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--secondary-100);
    color: var(--gray-100);
    font-size: 0.8rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.card-btn:hover {
    background-color: var(--primary-100);
}

.card-btn a {
    text-decoration: none;
    color: var(--gray-100);
}

@media screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
    }

    .card {
        width: 90%;
        height: 520px;
    }

    .card-heading {
        font-size: 0.8rem;
    }

    .card-author-img {
        width: 30px;
        height: 30px;
    }

    .card-btn {
        width: 80px;
        height: 30px;
        font-size: 0.7rem;
    }
}