@import "./main.css";

.hero {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    position: relative;
}

.hero::before {    
    content: "";
    background-image: url("../assets/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
}

.hero-text {
    position: absolute;
    left: 3%;
    bottom: 3%;
}

.hero-category {
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: var(--primary-100);
    border-radius: 20px;
    font-size: 11px;
    font-weight: 700;
    color: var(--gray-100);
}

.hero-heading {
    max-width: 60%;
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    margin: 0.5rem 0;
}

.hero-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.7rem;
    color: var(--white);
    font-size: 0.9rem;
}

.hero-author-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

@media  screen and (max-width: 768px) {
    .hero {
        height: 50vh;
    }
}
    
@media  screen and (max-width: 480px) {
    .hero {
        height: 40vh;
    }

    .hero-heading {
        max-width: 80%;
        font-size: 1.5rem;
    }
}
